asn1crypto==0.24.0
audioread==2.1.4
certifi==2018.4.16
cffi==1.11.4
chardet==3.0.4
conda==4.4.10
cryptography==2.1.4
cycler==0.10.0
decorator==4.3.0
idna==2.6
joblib==0.11
kiwisolver==1.0.1
librosa==0.6.0
llvmlite==0.22.0
matplotlib==2.2.2
mkl-fft==1.0.2
mkl-random==1.0.1
numba==0.37.0
numpy==1.14.2
pycosat==0.6.3
pycparser==2.18
pyOpenSSL==17.5.0
pyparsing==2.2.0
PySocks==1.6.7
python-dateutil==2.7.2
pytz==2018.4
requests==2.18.4
resampy==0.2.0
ruamel-yaml==0.15.35
scikit-learn==0.19.1
scipy==1.0.1
six==1.11.0
tornado==5.0.2
tqdm==4.23.0
urllib3==1.22
